
@using (Html.BeginForm("NewAdd", "Home", FormMethod.Post))
{



@model WebApplication5.Models.StudentData
    
    @Html.HiddenFor(m=> m.empid)
    <div class="form-group">
        <label>Student Name</label>
        @Html.TextBoxFor(m => m.ename, new {@required= "required", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ename ,"", new {@class= "form-label"})

    </div>
    <div class="form-group">
        <label>Student Mobile</label>
        @Html.TextBoxFor(m => m.mobile, new { @class = "form-control" })

    </div>
    <div class="form-group">
        <label>Student Email</label>
        @Html.TextBoxFor(m => m.email, new { @class = "form-control" })

    </div>
    <div class="form-group">
        <label>Student City</label>
        @Html.TextBoxFor(m => m.city, new { @class = "form-control" })

    </div>
    <button class="btn btn-link">@Html.ActionLink("Back to list", "Index")</button>
    <button type="submit" class="btn btn-success">Sumbit</button>
}

