<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Forms</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Please fill out the application
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                @using (Html.BeginForm("forms", "Home", FormMethod.Post))
                                {
                                    @Html.HiddenFor(m=>m.id)
                                    @model CRUDAppWithLogin.Models.MyModel
                                    <div class="form-group">
                                        <label>Name</label>
                                        @Html.TextBoxFor(m=> m.ename, new {@class= "form-control", @placeholder = "Enter your name", @required = "required" })
                                        @Html.ValidationMessageFor(m=> m.ename ,"", new {@class="text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Age</label>
                                        @Html.TextBoxFor(m=> m.age, new {@class= "form-control", @placeholder = "Enter your age", @required = "required" })
                                        @Html.ValidationMessageFor(m=> m.age ,"", new {@class="text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Salary</label>
                                        @Html.TextBoxFor(m=> m.salay, new {@class= "form-control", @placeholder = "Enter salary", @required = "required" })
                                        @Html.ValidationMessageFor(m=> m.salay ,"", new {@class="text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>City</label>
                                        @Html.TextBoxFor(m=> m.city, new {@class= "form-control", @placeholder = "Enter City", @required = "required" })
                                        @Html.ValidationMessageFor(m=> m.city ,"", new {@class="text-danger" })
                                    </div>
                                    <button type="submit">Submit</button>
                                }
                                
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>